<div class="row">
    @if (AppState is { RepoState.IsAssigned: true } && !_isEditing)
    {
        <ErrorBoundary @ref="_errorBoundary">
            <ChildContent>
                @PostConfigurationContent
            </ChildContent>
            <ErrorContent>
                <div class="alert alert-danger" role="alert">
                  <h4 class="alert-heading">Error</h4>
                  <p>Something has gone terribly wrong.</p>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    }
    else
    {
        <form class="col-4">
            @if (OptionalMessageContent is not null)
            {
                <div class="mb-3">
                    @OptionalMessageContent
                </div>
            }
            <div class="mb-3">
                <label for="org" class="form-label">Organization</label>
                <input id="org" @bind=@_organizationName
                       class="form-control" placeholder="GitHub organization name" />
            </div>
            <div class="mb-3">
                <label for="repo" class="form-label">Repository</label>
                <input id="repo" @bind=@_repositoryName
                       class="form-control" placeholder="GitHub repository name" />
            </div>
            <div class="mb-3">
                <pre>
                    <code>
                        @FullyQualifiedOrgAndRepo
                    </code>
                </pre>
            </div>
            <button class="btn btn-lg btn-primary" type="button"
                    disabled=@(_organizationName is null || _repositoryName is null)
                    @onclick="OnAssignClick">
                Assign
            </button>
        </form>
    }
</div>
