<div class="d-flex align-items-center justify-content-center">
    <div class="fs-1 d-flex justify-content-center align-items-center">
        <strong class="p-5">@Message</strong>
        <div class="spinner-grow ms-auto" role="status" aria-hidden="true"></div>
    </div>
</div>

@code {
    [Parameter]
    public string Message { get; set; } = "🤓 Loading, please wait...";
}
