<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GitHub Issues</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Configure
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="areas">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Grid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="summary-js" Match="NavLinkMatch.All">
                <span class="oi oi-graph" aria-hidden="true"></span> Stacked Bar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="line-chartjs" Match="NavLinkMatch.All">
                <span class="oi oi-graph" aria-hidden="true"></span> Product histogram
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="priority-line" Match="NavLinkMatch.All">
                <span class="oi oi-graph" aria-hidden="true"></span> Priority histogram
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="classification-line" Match="NavLinkMatch.All">
                <span class="oi oi-graph" aria-hidden="true"></span> Classification histogram
            </NavLink>
        </div>
    </nav>
</div>

@code {
private bool collapseNavMenu = true;

private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

private void ToggleNavMenu()
{
    collapseNavMenu = !collapseNavMenu;
}
}
