@page "/"

<PageTitle>GitHub Issues | Home</PageTitle>
<ConfigureRepo @ref="_config">
        <PostConfigurationContent>
            <p class="lead">
                You're repo is configured as:
                <pre>
                    <code>
                        @_config.FullyQualifiedOrgAndRepo
                    </code>
                </pre>
                <button class="btn btn-lg btn-primary" type="button"
                    @onclick="_config.EditConfiguration">
                    Edit
                </button>
            </p>
        </PostConfigurationContent>
    </ConfigureRepo>

@code {
    private ConfigureRepo _config = null!;
}